.pagina-2 h1 {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;  /* Espacio alrededor del título */
}

/* Estilo para el contenedor de la relación dentro de pagina-2 */
.pagina-2 .meses-de-relacion {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

/* Estilo para los enlaces dentro de meses-de-relacion */
.meses-de-relacion h1 a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

/* Efecto hover sobre los enlaces */
.meses-de-relacion h1 a:hover {
    text-decoration: underline;
}
.redirect-button {
    background-color: rgb(156, 117, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
